<!DOCTYPE html >
<html>
<head>
    <title>login test</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="0">
    <meta http-equiv="keywords" content="keyword1,keyword2,keyword3">
    <meta http-equiv="description" content="ajax方式">
    <script src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript">
        function login(){
            var username = document.getElementById("username").value;
            var password = document.getElementById("password").value;
            $.ajax({
                url: "user/login",
                type: "POST",
                contentType: "application/json",
                dataType: "json",
                data: JSON.stringify({
                    username:username,
                    password:password
                }),
                async: true,
                success: function(data) {
                    var ss = JSON.stringify(data);
                    $("#result").val(ss);
                    console.log(ss);
                }
            });
        }
    </script>
</head>
<body>
<div id="form-div">
    <form id="form1" onsubmit="return false" action="##" method="post">
        <p>用户名：<input name="username" type="text" id="username" tabindex="1" size="15" value=""/></p>
        <p>密　码：<input name="password" type="password" id="password" tabindex="2" size="16" value=""/></p>
        <p><input type="button" value="登录" onclick="login()">&nbsp;<input type="reset" value="重置"></p>
    </form>
</div>
</body>
</html>